* {
  margin: 0;
}
body {
  height: 4700px;
  gap: 12px;
  margin: 0;
  position: relative;
  width: 100%;
  background-color: rgba(245, 245, 247, 1);
}
.head {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: hsla(240, 11%, 96%, 0.8);
  position: fixed;
  z-index: 10;
  opacity: 0.9;
}
#headclone {
  width: 100%;
  height: 44px;
}
.headug {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
  letter-spacing: -0.28px;
}
p > img {
  padding: 4px 0 0 0;
}
#section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 52px;
  gap: 4px;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background-color: white;
  position: absolute;
}
#ug {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: hsla(240, 3%, 12%, 1);
}
.blur1 {
  position: absolute;
  width: 60%;
  height: 50px;
  top: 60px;
  border-radius: 344px;
  opacity: 0.5;
  background: rgba(1, 159, 251, 1);
  filter: blur(9px);
}
.blur2 {
  position: absolute;
  width: 51%;
  height: 50px;
  top: 60px;
  left: 30%;
  border-radius: 344px;
  opacity: 0.5;
  background: rgba(245, 91, 228, 1);
  filter: blur(12px);
}
.blur3 {
  position: absolute;
  width: 75%;
  height: 50px;
  top: 60px;
  left: 13%;
  border-radius: 344px;
  opacity: 0.5;
  background: rgba(228, 76, 187, 1);
  filter: blur(12px);
}
.blur4 {
  position: absolute;
  width: 40%;
  height: 50px;
  top: 60px;
  left: 60%;
  border-radius: 344px;
  opacity: 0.5;
  background: rgba(253, 140, 31, 1);
  filter: blur(9px);
}
#section11 {
  position: absolute;
  width: 72%;
  /* gap: 24%; */
  top: 220px;
  left: 13%;
  display: flex;
  height: 100px;
  justify-content: space-between;
  /* padding: 0 140px 0 140px; */
  /* background-color: aquamarine; */
}
#section12 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  color: rgba(110, 110, 115, 1);
}
span {
  background: linear-gradient(
    90deg,
    hsla(205, 100%, 48%, 1),
    hsla(274, 96%, 69%, 1),
    hsla(346, 87%, 60%, 1),
    hsla(21, 100%, 48%, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section21 {
  display: flex;
  gap: 16px;
}
#zuragugnuud {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.minis {
  width: 87%;
  /* background-color: blue; */
  position: absolute;
  top: 430px;
  left: 13%;
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  gap: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
  align-items: center;
}
.minis1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
#bagts1 {
  position: absolute;
  top: 630px;
  left: 13%;
  gap: 24px;
  width: 87%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
#bagts1 > p {
  display: flex;
  gap: 10px;
}
.ursdag {
  /* background-color: aqua; */
  height: 500px;
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
  align-items: center;
}
.zurag1 {
  background-image: url(./store-card-50-holiday-iphone-pro-202411_GEO_US.png);
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  position: relative;
}
.zurag2 {
  background-image: url(./store-card-50-holiday-watch-s10-202411.png);
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  position: relative;
}
.zurag3 {
  background-image: url(./store-card-50-holiday-ipad-mini-202411.png);
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  position: relative;
}
.zurag4 {
  background-image: url(./macbook.jpg);
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  position: relative;
}
.zurags > h4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: rgba(182, 68, 0, 1);
}
.zurags > h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 26px;
  line-height: 32px;
}
.zurags > h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgb(103, 103, 103);
}
.zurags {
  position: absolute;
  bottom: 76%;
  left: 7%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#bagts2 {
  position: absolute;
  top: 1250px;
  left: 13%;
  gap: 24px;
  width: 87%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* background-color: aqua; */
}
#bagts2 > p {
  display: flex;
  gap: 10px;
}
.zurag20 {
  background-image: url(./store-card-40-holiday-engraving-202411.png);
  background-position: center;
  background-size: cover;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  width: 400px;
  height: 500px;
  flex-shrink: 0;
  position: relative;
}
.zurag21 {
  background-color: white;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  width: 313px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.img21 {
  width: 230px;
  height: 230px;
  object-fit: cover;
}
.mongo {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: start;
  /* background-color: aqua; */
  width: 270px;
  height: 100px;
  justify-content: space-between;
}
.lai2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.lai2 > h4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: rgba(182, 68, 0, 1);
}
.lai2 > h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 20px;
}
.mongo > h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: rgb(103, 103, 103);
}
#laimda {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  position: absolute;
  top: 53px;
  left: 30px;
  width: 290px;
}
.laichu {
  opacity: 0;
}
#bagts3 {
  position: absolute;
  top: 1900px;
  left: 13%;
  gap: 24px;
  width: 87%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* background-color: aqua; */
}
#bagts3 > p {
  display: flex;
  gap: 10px;
}
#bagts4 > p {
  display: flex;
  gap: 10px;
}
#bagts5 > p {
  display: flex;
  gap: 10px;
}
#bagts6 > p {
  display: flex;
  gap: 10px;
  /* background-color: aqua; */
}
#bagts6 > nav {
  display: flex;
  gap: 10px;
  /* background-color: aqua; */
  margin: -20px 0 0;
}
.zurag30 {
  background-image: url(./store-card-40-holiday-quick-picks-202411.png);
  background-position: center;
  background-size: cover;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  width: 400px;
  height: 500px;
  flex-shrink: 0;
  position: relative;
}
.zurag31 {
  background-color: white;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  width: 313px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
#bagts4 {
  position: absolute;
  top: 2550px;
  left: 13%;
  gap: 24px;
  width: 87%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* background-color: aqua; */
}
.box11 {
  background-image: url(./store-card-50-holiday-delivery-pickup-202411.png);
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 100%;
  border-radius: 18px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.08);
  flex-shrink: 0;
  position: relative;
}
.box12 {
  width: 650px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  flex-shrink: 0;
}
.box121 {
  background-color: white;
  width: 313px;
  height: 240px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.08);
  position: relative;
}
.box121 > p {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  top: 62px;
  left: 34px;
  width: 238px;
}
.box13 {
  background-image: url(./store-card-50-holiday-trade-in-202411.png);
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 100%;
  border-radius: 18px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.08);
  flex-shrink: 0;
  position: relative;
}
#box131 {
  position: absolute;
  top: 31px;
  left: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: hsla(240, 2%, 44%, 1);
}
#box132 {
  position: absolute;
  width: 330px;
  top: 54px;
  left: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
}
.box14 {
  background-image: url(./7be9e8c4cd1a574c53bacf2396a17f1007bfc091.jpg);
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 100%;
  border-radius: 18px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.08);
  flex-shrink: 0;
  position: relative;
}
#bagts5 {
  position: absolute;
  top: 3200px;
  left: 13%;
  gap: 24px;
  width: 87%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* background-color: aqua; */
}
.box51 {
  background-image: url(./store-card-50-holiday-apple-music-202411.png);
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 100%;
  border-radius: 18px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.08);
  flex-shrink: 0;
  position: relative;
}
#box133 {
  width: 300px;
  position: absolute;
  top: 130px;
  left: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: rgb(124, 124, 136);
}
.box52 {
  background-image: url(./store-card-50-holiday-apple-tv-202411.png);
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 100%;
  border-radius: 18px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.08);
  flex-shrink: 0;
  position: relative;
}
#box521 {
  position: absolute;
  top: 31px;
  left: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: hsla(240, 11%, 96%, 1);
}
#box522 {
  width: 360px;
  position: absolute;
  top: 54px;
  left: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: white;
}
.box53 {
  background-image: url(./store-card-50-subscriptions-202108_GEO_US.png);
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 100%;
  border-radius: 18px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.08);
  flex-shrink: 0;
  position: relative;
}
.box54 {
  background-image: url(./4c93c049459dcec6247af385b50ac485e92e5a45.jpg);
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 100%;
  border-radius: 18px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.08);
  flex-shrink: 0;
  position: relative;
}
#bagts6 {
  position: absolute;
  top: 3850px;
  left: 13%;
  gap: 24px;
  width: 87%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* background-color: aqua; */
}
.box61 {
  background-image: url(./iphone-card-40-carriertrade-202409.png);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 100%;
  border-radius: 18px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.08);
  flex-shrink: 0;
  position: relative;
}
.box62 {
  background-image: url(./store-card-40-bts-edu-macbook-air-ipad-air-202406.png);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 100%;
  border-radius: 18px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.08);
  flex-shrink: 0;
  position: relative;
}
.box63 {
  background-image: url(./store-card-40-refurb-202408.png);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 100%;
  border-radius: 18px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.08);
  flex-shrink: 0;
  position: relative;
}
.box64 {
  background-image: url(./iphone-card-40-business-202409.png);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 100%;
  border-radius: 18px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.08);
  flex-shrink: 0;
  position: relative;
}
.box65 {
  background-image: url(./9511d82e0fa4f14f3d23b485ab3928f9d27a5012.jpg);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 100%;
  border-radius: 18px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.08);
  flex-shrink: 0;
  position: relative;
}
.footer {
  height: 96px;
  width: 80%;
  display: flex;
  gap: 24px;
  flex-direction: column;
  position: absolute;
  top: 4530px;
  left: 13%;
}
#footer1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}
#footer2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.footers {
  display: flex;
  gap: 8px;
  border-radius: 999px;
  border: 1px solid rgba(30, 30, 32, 0.512);
  padding: 10px 12px 10px 12px;
  color: rgba(43, 43, 47, 0.868);
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.footers > img {
  width: 10px;
  height: 10px;
}
