* {
  margin: 0;
  padding: 0;
}
body {
  height: 5120px;
  gap: 12px;
  margin: 0;
  width: 100%;
}
.suul {
  scroll-behavior: smooth;
}
.head {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: hsla(240, 11%, 96%, 0.8);
  position: fixed;
  z-index: 10;
  opacity: 0.9;
}
.head1 {
  display: flex;
  gap: 24px;
}
#headclone {
  width: 100%;
  height: 44px;
}
.headug {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
  letter-spacing: -0.28px;
}
p > img {
  padding: 4px 0 0 0;
}
#section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 52px;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
#ug {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: hsla(240, 3%, 12%, 1);
}
.pros {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.pro16 {
  background-image: url(./Figure.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 692px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.pro161 {
  background-image: url(./Figure1.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 692px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pro162 {
  background-image: url(./Figure2.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 692px;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.garchig {
  position: absolute;
  top: 9%;
  display: flex;
  width: 405px;
  height: 172px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.garchig16 {
  position: absolute;
  top: 9%;
  display: flex;
  width: 405px;
  height: 172px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 60px;
}
.garchig > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.garchig1 > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.garchig2 {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  gap: 16px;
}
.garchig11 {
  background-color: hsla(210, 100%, 45%, 1);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px 8px 20px;
}
.garchig12 {
  background-color: white;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px 8px 20px;
  color: black;
}
.garchig13 {
  background-color: hsla(210, 100%, 45%, 1);
  border-radius: 999px;
  display: flex;
  padding: 12px 20px 10px 20px;
  color: white;
}
.buy {
  border: 2px solid hsla(210, 100%, 45%, 1);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px 8px 20px;
  color: hsla(210, 100%, 45%, 1);
}
.buy1 {
  border: 2px solid white;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px 8px 20px;
}
.garchig1 {
  position: absolute;
  top: 65%;

  display: flex;
  width: 405px;
  height: 172px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  padding: 12px 0 12px 12px;
}
.zurag1 {
  background-image: url(./Figure3.png);
  background-position: center;
  background-size: cover;
  width: 49.3%;
  height: 580px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.zurag1 > h3 {
  position: absolute;
  top: 94%;
  left: auto;
  right: auto;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  background: linear-gradient(
    90deg,
    hsla(205, 100%, 48%, 1),
    hsla(274, 96%, 69%, 1),
    hsla(346, 87%, 60%, 1),
    hsla(21, 100%, 48%, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.zurag2 {
  background-image: url(./Figure4.png);
  background-position: center;
  background-size: cover;
  width: 49.3%;
  height: 580px;
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
}
.zurag21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 70%;
}
.zurag21 > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.673);
}
.zurag3 {
  background-image: url(./Figure5.png);
  background-position: center;
  background-size: cover;
  width: 49.3%;
  height: 580px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.zurag31 {
  position: absolute;
  top: 8%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.zurag31 > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(32, 32, 32, 0.767);
}
.zurag4 {
  background-image: url(./Figure6.png);
  background-position: center;
  background-size: cover;
  width: 49.3%;
  height: 580px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zurag5 {
  background-image: url(./Figure7.png);
  background-position: center;
  background-size: cover;
  width: 49.3%;
  height: 580px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zurag6 {
  background-image: url(./figure8.png);
  background-position: center;
  background-size: cover;
  width: 49.3%;
  height: 580px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  margin: -15px;
}
.suul {
  display: flex;
  flex-direction: row;
  /* height: 668px; */
  width: auto;
  gap: 16px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
  align-items: center;
}
.suul1 {
  background-image: url(./disclaimer.jpg);
  line-height: 100%;
  width: 65%;
  height: 850px;
  background-position: center;
  background-size: cover;
  scroll-snap-align: center;
  flex-shrink: 0;
  position: relative;
}
.suul2 {
  background-image: url(./moon.png);
  line-height: 100%;
  width: 65%;
  height: 850px;
  background-position: center;
  background-size: cover;
  scroll-snap-align: center;
  flex-shrink: 0;
  position: relative;
}
.suul21 {
  position: absolute;
  top: 88%;
  left: 10%;
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgba(255, 255, 255, 0.923);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
span {
  background-color: white;
  padding: 11px 17px 11px 17px;
  border-radius: 23px;
  color: black;
}
.suul3 {
  background-image: url(./shrinking.jpg);
  line-height: 100%;
  width: 65%;
  height: 850px;
  background-position: center;
  background-size: cover;
  scroll-snap-align: center;
  flex-shrink: 0;
  position: relative;
}
.suul4 {
  background-image: url(https://pinecone-academy-fgmu.vercel.app/images/carousel/napoleon.jpg);
  line-height: 100%;
  width: 65%;
  height: 850px;
  background-position: center;
  background-size: cover;
  scroll-snap-align: center;
  flex-shrink: 0;
  position: relative;
}
.suul5 {
  background-image: url(https://pinecone-academy-fgmu.vercel.app/images/carousel/pressumed-innocent.jpg);
  line-height: 100%;
  width: 65%;
  height: 850px;
  background-position: center;
  background-size: cover;
  scroll-snap-align: center;
  flex-shrink: 0;
  position: relative;
}
.suul6 {
  background-image: url(https://pinecone-academy-fgmu.vercel.app/images/carousel/lady-in-the-lake.jpg);
  line-height: 100%;
  width: 65%;
  height: 850px;
  background-position: center;
  background-size: cover;
  scroll-snap-align: center;
  flex-shrink: 0;
  position: relative;
}
.suul7 {
  background-image: url(https://pinecone-academy-fgmu.vercel.app/images/carousel/k-pop-idols.jpg);
  line-height: 100%;
  width: 65%;
  height: 850px;
  background-position: center;
  background-size: cover;
  scroll-snap-align: center;
  flex-shrink: 0;
  position: relative;
}
.suul8 {
  background-image: url(https://pinecone-academy-fgmu.vercel.app/images/carousel/bad-monkey.jpg);
  line-height: 100%;
  width: 65%;
  height: 850px;
  background-position: center;
  background-size: cover;
  scroll-snap-align: center;
  flex-shrink: 0;
  position: relative;
}
.tablist {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tab {
  width: 9px;
  height: 9px;
  border-radius: 400px;
  background-color: hsla(0, 0%, 0%, 0.42);
}
.tab:hover {
  background-color: rgba(0, 0, 0, 0.679);
}
.footer {
  height: 236px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
  align-items: center;
  align-items: start;
}
.footer1 {
  background-image: url(./Background1.png);
  background-position: center;
  background-size: cover;
  width: 417px;
  height: 236px;
  background-color: blue;
  position: relative;
  flex-shrink: 0;
}
.footer2 {
  background-image: url(./Background2.png);
  background-position: center;
  background-size: cover;
  width: 417px;
  height: 236px;

  background-color: blue;
  position: relative;
  flex-shrink: 0;
}
.footer3 {
  background-image: url(./Background3.png);
  background-position: center;
  background-size: cover;
  width: 417px;
  height: 236px;
  background-color: blue;
  position: relative;
  flex-shrink: 0;
}
.footer4 {
  width: 417px;
  height: 236px;
  background-color: hsla(211, 30%, 15%, 1);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0 0 0 20px;
  gap: 20px;
  color: white;
  flex-shrink: 0;
}
.footer5 {
  width: 417px;
  height: 236px;
  background-color: hsla(22, 67%, 76%, 1);
  position: relative;
  flex-shrink: 0;
}
.footer4 > img {
  width: 50%;
  height: 80%;
}
.footer5 > img {
  width: 60%;
  height: 100%;
}
h6 {
  position: absolute;
  top: 88%;
  left: 4%;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
}
#button {
  display: flex;
  justify-content: end;

  padding: 15px;
}

/* FOR tablet */
@media only screen and (min-width: 677px) and (max-width: 1023px) {
  body {
    height: 3800px;
    width: 100%;
  }
  .head > nav {
    display: none;
  }
  .head > a {
    display: none;
  }
  .head {
    /* justify-content: space-between; */
    gap: 80%;
  }
  #ug {
    width: 55%;
    text-align: center;
  }
  .pro16 {
    background-image: url(./tablet1.png);
    background-position: center;
    height: 600px;
    background-size: cover;
  }
  .pro161 {
    background-image: url(./tablet2.png);
    background-position: center;
    height: 600px;
    background-size: cover;
  }
  .pro162 {
    /* background-image: url(./Figure3.png); */
    height: 600px;
  }
  .section1 {
    padding: 7px 0 7px 12px;
    gap: 7px;
  }
  .zurag1 {
    width: 48.7%;
    height: 440px;
  }
  .zurag2 {
    width: 48.7%;
    height: 440px;
  }
  .zurag21 > p {
    font-size: 14px;
    line-height: 20px;
  }
  .zurag31 > p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .zurag3 {
    width: 48.7%;
    height: 440px;
  }
  .zurag4 {
    width: 48.7%;
    height: 440px;
  }
  .zurag5 {
    width: 48.7%;
    height: 440px;
  }
  .zurag6 {
    width: 48.7%;
    height: 440px;
  }
  h2 {
    font-size: 38px;
    line-height: 60px;
  }
  .garchig2 {
    font-size: 13px;
  }
  .buy {
    padding: 3px 12px 3px 12px;
  }
  .buy1 {
    padding: 3px 12px 3px 12px;
  }
  .suul1 {
    width: 84%;
    height: 380px;
  }
  .suul2 {
    width: 84%;
    height: 380px;
  }
  .suul3 {
    width: 84%;
    height: 380px;
  }
  .suul4 {
    width: 84%;
    height: 380px;
  }
  .suul5 {
    width: 84%;
    height: 380px;
  }
  .suul6 {
    width: 84%;
    height: 380px;
  }
  .suul7 {
    width: 84%;
    height: 380px;
  }
  .suul8 {
    width: 84%;
    height: 380px;
  }
  .suul21 {
    bottom: 15%;
    left: 5%;
    font-size: 12px;
    line-height: 20px;
  }
  span {
    padding: 5px 10px 5px 10px;
  }
  .tablist {
    height: 23px;
  }
  .footer {
    height: 150px;
  }
  .footer1 {
    width: 28%;
    height: 120px;
  }
  .footer2 {
    width: 28%;
    height: 120px;
  }
  .footer3 {
    width: 28%;
    height: 120px;
  }
  .footer4 {
    width: 28%;
    height: 120px;
  }
  .footer5 {
    width: 28%;
    height: 120px;
  }
  h6 {
    font-size: 11px;
    top: 103%;
    color: black;
  }
  .tab {
    width: 8px;
    height: 8px;
  }
  #button {
    padding: 0 15px 15px 0;
  }
}
/* FOR MOBILE PHONE */
@media only screen and (max-width: 676px) {
  body {
    height: 3750px;
  }
  .head > nav {
    display: none;
  }
  .head > a {
    display: none;
  }
  .head {
    /* justify-content: space-between; */
    gap: 67%;
  }
  #ug {
    width: 75%;
    text-align: center;
  }
  #section {
    height: 68px;
  }
  .pro16 {
    background-image: url(./4d617ff6192318499aff8aebb56aaf232c8f00d4.jpg);
    width: 100%;
    height: 500px;
  }
  .garchig {
    top: 70%;
    gap: 10px;
  }
  .garchig > p {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.757);
  }
  .pro161 {
    background-image: url(./figure11.png);
    width: 100%;
    height: 500px;
  }
  .garchig16 {
    gap: 10px;
  }
  .garchig16 > p {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.757);
  }
  .pro162 {
    display: none;
  }
  .section1 {
    padding: 12px 0 12px 0;
  }
  .zurag1 {
    width: 100%;
    height: 500px;
  }
  .zurag2 {
    width: 100%;
    height: 500px;
  }
  .zurag21 > p {
    font-size: 14px;
    line-height: 20px;
  }
  .zurag31 > p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .zurag3 {
    width: 100%;
    height: 500px;
  }
  .zurag4 {
    width: 100%;
    height: 500px;
  }
  .zurag5 {
    width: 100%;
    height: 500px;
  }
  .zurag6 {
    width: 100%;
    height: 500px;
  }
  h2 {
    font-size: 38px;
    line-height: 60px;
  }
  .garchig2 {
    font-size: 13px;
  }
  .buy {
    padding: 3px 12px 3px 12px;
  }
  .buy1 {
    padding: 3px 12px 3px 12px;
  }
  .suul1 {
    width: 80%;
    height: 500px;
    background-image: url(./Link7.png);
  }
  .suul2 {
    background-image: url(./Link8.png);
    width: 80%;
    height: 500px;
  }
  .suul3 {
    background-image: url(./Link9.png);
    width: 80%;
    height: 500px;
  }
  .suul4 {
    background-image: url(./Link10.png);
    width: 80%;
    height: 500px;
  }
  .suul5 {
    background-image: url(./Link11.png);
    width: 80%;
    height: 500px;
  }
  .suul6 {
    background-image: url(./Link12.png);
    width: 80%;
    height: 500px;
  }
  .suul7 {
    background-image: url(./Link13.png);
    width: 80%;
    height: 500px;
  }
  .suul8 {
    background-image: url(./Link14.png);
    width: 80%;
    height: 500px;
  }
  .suul21 {
    display: none;
  }
  .tablist {
    height: 48px;
    gap: 6%;
  }
  .footer {
    height: 145px;
    align-items: start;
    gap: 9px;
  }
  .footer1 {
    width: 52%;
    height: 120px;
  }
  .footer2 {
    width: 52%;
    height: 120px;
  }
  .footer3 {
    width: 52%;
    height: 120px;
  }
  .footer4 {
    width: 52%;
    height: 120px;
  }
  .footer5 {
    width: 52%;
    height: 120px;
  }
  h6 {
    font-size: 11px;
    top: 103%;
    color: black;
  }
  .tab {
    width: 8px;
    height: 8px;
  }
}
